server {

    server_name  {{ domain }}  www.{{ domain }};

    if ($host = www.{{ domain }}) {
        return 301 https://{{ destination }}/;
    } 


    if ($host = {{ domain }}) {
        return 301 https://{{ destination }}/;
    } 

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot



}
server {
    if ($host = www.{{ domain }}) {
        return 301 https://{{ destination }}/;
    } 


    if ($host = {{ domain }}) {
        return 301 https://{{ destination }}/;
    } 


    listen 80;
    listen [::]:80;

    server_name  {{ domain }}  www.{{ domain }};
    return 404; 
}